
@charset "UTF-8";
/* Aquí definimos las Custom properties */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
  }
}
/* Configuramos si un usuario ha activado el modo alto contraste. (BETA) */
/*
  Si quieres saber cada línea de este archivo te recomiendo que veas estos vídeos:  
    Estilos generales para que las etiquetas no contengan propiedades
    que nos estorben y en todos los navegadores se vean correctamente
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* saque el header el img , section*/

picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  /* -o-object-position: center center;
     object-position: center center; */
}
/*saque el img*/

a {
  display: block;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  background: #1e1833;
  color: var(--negro);
}

header {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}
main {
  background-color: #c011ca;
  margin: 1rem;
  border: 2px solid #ccc;
}
.s1{
  background-color: #155a11;
  Min-height: 40rem;
  height:auto;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  /* IMPORTANTE */
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
}

.s2{
  /*position: relative;*/
  background-color: #f5ba09;
  Min-height: 30rem;
  height:auto;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  /* IMPORTANTE */
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
}

  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: auto;
    min-width: auto;
    /*max-height: 100em;*/
    max-height: auto;
    padding: 1em;
    position: relative;
    /*position: absolute;*/
    
    right: -1000px;
    bottom: -300px;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0.5em;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }
 /* .subcontenedor{
    position: absolute;
    position: absolute;
  }*/

.s3{
  background-color: #212a89;
  Min-height: 10rem;
  height:auto;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  justify-content: center;
  align-items: center;
  text-align: center;
  /* word-wrap: break-word; */
}

footer {
  width: 100vw;
  height: 15vh;
  background-color: var(--secundary-color);
  background-color: #024067;
}
