
  .contenedor .ul {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contenedor .li, .dropdown-toggle{
    padding: 1em;
    margin: 0 2em 0 0;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0.5em;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }

  .contenedor .li.activo, .dropdown-toggle.activo {
    background-color: rgb(128, 126, 247);
    color: white;
  }
  .contenedor .bloque {
    margin: 1em;
    padding: 1em;
    position: absolute;
    top: 2em;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0.5em;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.3em 0.3em 0.6em var(--sombra-ppal), -0.3em -0.3em 0.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  

  .contenedor .bloque.activo {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
    .subcontenedor {
      min-height: 10vh;
      position: relative;
      /* mensaje de boton */
      font-family: 'Baloo Tamma', cursive;
      background: rgba(63, 63, 129, 0.881);
      word-wrap: break-word; 
      
    }
    .link1{
      text-align: center;
      color: rgb(98, 120, 206);
      font-size: 50px;
      text-shadow: -1px -1px 0px rgb(252, 251, 250),
        3px 3px 0px rgb(53, 16, 201),
        6px 6px 0px rgb(86, 63, 6);
    }
    .link2{
      text-align: center;
      color: rgb(112, 190, 138);
      font-size: 50px;
      text-shadow: -1px -1px 0px rgb(252, 251, 250),
        3px 3px 0px rgb(6, 114, 19),
        6px 6px 0px rgb(86, 63, 6);
    }
    .link3{
      text-align: center;
      color: rgb(186, 112, 86);
      font-size: 50px;
      text-shadow: -1px -1px 0px rgb(252, 251, 250),
        3px 3px 0px rgb(247, 4, 4),
        6px 6px 0px rgb(86, 63, 6);
    }

    .link4{
      text-align: center;
      color: rgb(218, 157, 51);
      font-size: 50px;
      text-shadow: -1px -1px 0px rgb(252, 251, 250),
        3px 3px 0px rgb(238, 71, 20),
        6px 6px 0px rgb(86, 63, 6);
    }








/*old login*/
.boton_personalizado {
    /* color: #fff !important; */
    position: relative;
    right: -90px;
    /* max-width:50000px;
    min-width:10px; */
    width: 40%;
    max-width: 100em;
    min-width: 20em;
    max-height: 200em;
    color: #fff;
    /* font-size: 20px; */
    
    /* font-weight: 100; */
    padding: 1.5em 12em;
    background-color: #598548;
    border-radius: 50px;
    outline: 0.5px solid;
    outline-color: rgba(19, 13, 17, 0.4);
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .boton_personalizado:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 30px 20px 0 rgba(0,0,0,0.24);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 50px;
    text-shadow: 1px 1px 1px #fff;
   background-color: #6ba257;
  }
  /* blue action */
.blueb{
  position: relative;
  top: -40px;
  bottom: 20px;
  right: -200px;
  /* Igual que: scaleX(2) scaleY(0.5) */
  transform: scale(2, 1.5);
  
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
  .blueb span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    /* se arrastra el efecto del a posicion inicial*/
    height: 40px;
    width: 130px;

    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .blueb span:nth-child(1) {
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .blueb span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .blueb:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .blueb:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }