*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  }

.s1 #TicTacToe.tabcontent .containerpro{
    /* display: flex; */
    /* flex-direction: column;*/
    justify-content: center;
    align-items: center; 
    /* position: absolute; */
    margin: 4% ;
    background-color: rgb(227, 5, 224);
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    word-wrap: break-word;
}

.s1 .h1 .tabcontent .text{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.tabcontent #container-game{
    background-color: rgb(243, 75, 9);
    /* background-color: lightgray; */
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    height: 300px;
    width: 350px;
    margin-top: 20px;
    border-radius: 10px;
}
.tabcontent .game-box{
    
    width: 100px;
    height: 80px;
    background-color: rgb(31, 107, 201);
    border-radius: 15%;
    font-size: 4rem;
    /* text-align: center; */
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.tabcontent #title{
    font-size: 15rem;
    background-color: rgb(24, 245, 17);
}

