/* Estilos existentes */
.delimitador1 {
    width: 560px;
    margin: auto;
}

.contenedor1 .video1, .contenedor1 .video2 {
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    padding: 0.8em;
    right: 1000px;
    bottom: 300px;
    border-radius: 0.5em;
    background-color: var(--blanco);
}

.video1 {
    position: relative;
    height: 50%;
    width: 40%;
    top: 0px;
    left: 0px;
    transform: scale(5 1);
}

.video2 {
    position: relative;
    height: 50%;
    width: 40%;
    top: 0px;
    left: 0px;
    transform: scale(5 0.01);
}

/* Nuevos estilos */
.subcontenedor {
    display: flex;
    flex-direction: column;
}

.bloque {
    margin-bottom: 10px;
}

.video {
    width: 6cm;
    height: 5cm;
    border: none;
}
