/* Para tener un ancho máximo debemos de establecer el width del DIV.delimitador */
.delimitador1 {
    width: 560px;
    margin: auto;
}

/* El contenedor con el padding-top crea el tamaño del vídeo */
.contenedor1 .video1 {
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    padding: 0.8em;
    /* position: relative; */
    right: 1000px;
    bottom: 300px;
    border-radius: 0.5em;
    background-color: var(--blanco);
}
.contenedor1 .video2 {
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    padding: 0.8em;
    /* position: relative; */
    right: 1000px;
    bottom: 300px;
    border-radius: 0.5em;
    background-color: var(--blanco);
}

.video1 {
    position: relative;
    height: 50%;
    width: 40%;
    top: 0px;
    left: 0px;
    transform: scale(5 1);
}

.video2 {
    position: relative;
    height: 50%;
    width: 40%;
    top: 0px;
    left: 0px;
    transform: scale(5 0.01);
}